/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #0097dd;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
p {
  font-weight: bold;
  font-size: 125%;
  font-style:italic;
  color: rgb(81, 64, 193);
  font-family:'Courier New', Courier, monospace;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  font-weight: bold;
  font-size: 125%;
  font-style:italic;
  color: slategray;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

body {
  background-color: rgb(120, 202, 225);

}

h1 {
  color: rgb(27, 36, 164);
  font-size: 300%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}
